<p>
  <b>Author:</b>
  <%=h @education.author %>
</p>

<p>
  <b>Quotation:</b>
  <%=h @education.quotation %>
</p>


<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', education_index_path %>